In [2]:
import pandas as pd

In [20]:
dataset = pd.read_csv('fake_bills_proper_clean_data.csv')
dataset

,Unnamed: 0,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
0,0,True,171.81,104.86,104.95,4.52,2.89,112.83
1,1,True,171.46,103.36,103.66,3.77,2.99,113.09
2,2,True,172.69,104.48,103.50,4.40,2.94,113.16
3,3,True,171.36,103.91,103.94,3.62,3.01,113.51
4,4,True,171.73,104.28,103.46,4.04,3.48,112.54
...,...,...,...,...,...,...,...,...
1495,1495,False,171.75,104.38,104.17,4.42,3.09,111.28
1496,1496,False,172.19,104.63,104.44,5.27,3.37,110.97
1497,1497,False,171.80,104.01,104.12,5.51,3.36,111.95
1498,1498,False,172.06,104.28,104.06,5.17,3.46,112.25
1499,1499,False,171.47,104.15,103.82,4.63,3.37,112.07

In [21]:
dataset = dataset.drop(["Unnamed: 0"],axis=1)
dataset

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
0,True,171.81,104.86,104.95,4.52,2.89,112.83
1,True,171.46,103.36,103.66,3.77,2.99,113.09
2,True,172.69,104.48,103.50,4.40,2.94,113.16
3,True,171.36,103.91,103.94,3.62,3.01,113.51
4,True,171.73,104.28,103.46,4.04,3.48,112.54
...,...,...,...,...,...,...,...
1495,False,171.75,104.38,104.17,4.42,3.09,111.28
1496,False,172.19,104.63,104.44,5.27,3.37,110.97
1497,False,171.80,104.01,104.12,5.51,3.36,111.95
1498,False,172.06,104.28,104.06,5.17,3.46,112.25
1499,False,171.47,104.15,103.82,4.63,3.37,112.07

In [40]:
dataset.describe()

,diagonal,height_left,height_right,margin_low,margin_up,length
count,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.00000
mean,171.958440,104.029533,103.920307,4.485967,3.151473,112.67850
std,0.305195,0.299462,0.325627,0.655569,0.231813,0.87273
min,171.040000,103.140000,102.820000,2.980000,2.270000,109.49000
25%,171.750000,103.820000,103.710000,4.030000,2.990000,112.03000
50%,171.960000,104.040000,103.920000,4.330000,3.140000,112.96000
75%,172.170000,104.230000,104.150000,4.860000,3.310000,113.34000
max,173.010000,104.880000,104.950000,6.900000,3.910000,114.44000

In [23]:
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import StandardScaler

In [24]:
classifier = []
# classifier.append(("mapper",m))
classifier.append(('standardize', StandardScaler()))
classifier.append(("model",GaussianNB()))

In [25]:
X = dataset.drop(columns = 'is_genuine')
y = dataset['is_genuine'].values

In [26]:
model = Pipeline(classifier)
model.fit(X,y)

Pipeline(steps=[('standardize', StandardScaler()), ('model', GaussianNB())])

# User Testing

In [28]:
dict(dataset.iloc[5,:])

{'is_genuine': True,
 'diagonal': 172.17,
 'height_left': 103.74,
 'height_right': 104.08,
 'margin_low': 4.42,
 'margin_up': 2.95,
 'length': 112.81}

In [ ]:
# user_input = {
#     'diagonal': 172.17,
#     'height_left': 103.74,
#     'height_right': 104.08,
#     'margin_low': 4.42,
#     'margin_up': 2.95,
#     'length': 112.81
# }

In [41]:
user_input = {
    'diagonal': 172.17,
    'height_left': 103.74,
    'height_right': 104.08,
    'margin_low': 4.42,
    'margin_up': 2.95,
    'length': 112.81
}

In [42]:
data = pd.DataFrame(user_input,index=[0])

In [43]:
data

   diagonal  height_left  height_right  margin_low  margin_up  length
0    172.17       103.74        104.08        4.42       2.95  112.81

In [44]:
model.predict(data)

array([ True])

# Model Saving

In [45]:
import pickle

In [46]:
with open("final_model.sav",mode="wb") as f1:
    pickle.dump(model,f1)